<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet" />
 <title>Home</title>

</head>
<body>
 <header class= "container"> 
 
 <a href="#"> <div class="headerdiv1">

   <img src="ad5.jpg" class="userimage">

 </div> </a>

 <a href="#"> 
  <div class="headerdiv2">
     
  <p>Sign In </p>
 
  </div>
 </a>

 <a href="#"> 
 <div class="headerdiv2">
    
 <p>log In </p>

 </div>
</a>
 
  <div class="headerdiv3">
 
  </div>

  <div class="headerdiv4">
    <p>Lead Management System</p>
  </div>
  <div class="headerdiv5">

    <img src="unilogo.jpg" class="uniimage">
  </div>
</header>


<footer>
  <h3>All reight reserved with group!</h3>
</footer>
 

</body>
</html>